{% extends 'base.html' %}
{% load static %}


{% block headscripts %}
<link rel="stylesheet" href="{% static 'test_monitor_app/home.css' %}">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
{% endblock headscripts %}


{% block title %}

{% endblock title %}


{%  block body %}
<form action="signup">
    <input type="submit" value="Sign-up/Login">
</form>
{% endblock body%}


{% block js %}
<script src="{% static 'test_monitor_app/home.js' %}"></script>
{% endblock %}